<!-- 'Footer' section-->
<div id="footer">
    <h5>About this project</h5>
    <p>This project utilizes Express and EJS to make a dynamic website about my pets and a couple of other cute animal photos.  It was created by me, Cassie, as part of an exercise within my bootcamp course.</p>
</div>