<!-- 'Body' section-->
<div id="body">
    <h1><%= name  %></h1>
    <h3><%= description %> </h3> 
</div>


<!-- 'Navigation' section-->

<div id="nav"><p>Navigate to another pet:</p>
    <a href="/simon">See Simon</a>
    <a href="/vito">See Vito</a>
    <a href="/temmie">See Temmie</a>
    <a href="/randomdog">See a cute dog</a>
    <a href="/randomcat">See a cute cat</a>
    <a href="/">Return to homepage</a>
</div>