img {
    height: 500px;
    width: auto;
}

#header {
    border: 20px solid black;
    margin: 0 auto;
    width: fit-content;
}

#body {
    margin: 0 auto;
    text-align: center;
    background-color: lavenderblush;
}

